.bordered {
  border-top: dotted 2px black;
  border-bottom: solid 2px black;
}
.box {
  width: 200px;
  height: 200px;
  background-color: red;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
  border-top: dotted 2px black;
  border-bottom: solid 2px black;
}
.box .cube {
  width: 50px;
  height: 50px;
  background-color: #4FF42A;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.react {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #4facf5;
}
.clearfloat {
  display: block;
  zoom: 1;
}
.clearfloat:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.desc {
  width: 200px;
  color: #222222;
  background-color: #60ff3b;
  height: 25px;
}
.class1 {
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  background-color: #33acfe;
}
.class2 {
  width: 400px;
  height: 80px;
  margin: 10px;
  padding: 40px;
  background-color: #efca44;
}
